.m {
  &-t {
    &-10 {
      margin-top: 10%;
    }
  }
  &-r {
    &-10px {
      margin-right: 10px;
    }
  }
  &-b {
    &-5 {
      margin-bottom: 5%;
    }
    &-30px {
      margin-bottom: 30px;
    }
  }
}

.curSelect {
  height: 40px;
  border: 2px solid black;
  width: 400px;
  max-width: 100%;
  & > div{
    border: none;
    min-height: 36px;
  }
  &-indicatorContainer {
    padding: 7px;
  }
}